In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.DataFrame({'col1': [1 ,2 ,3, 4], 'col2': [44, 55, 66, 44], 'col3': ['abc', 'def', 'ghi', 'xyz']})

In [11]:
df

   col1  col2 col3
0     1    44  abc
1     2    55  def
2     3    66  ghi
3     4    44  xyz

In [19]:
df['col2'].value_counts()

44    2
55    1
66    1
Name: col2, dtype: int64

In [21]:
mask = df['col2'] > 44

In [22]:
df[mask]

   col1  col2 col3
1     2    55  def
2     3    66  ghi

In [30]:
df.drop([2], axis=0)

   col1  col2 col3
0     1    44  abc
1     2    55  def
3     4    44  xyz