In [2]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]

In [8]:
np_arr = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}

In [6]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(np_arr, labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
ser1 = pd.Series(["sum", "print", "len"], [1,2,3])
ser1

1      sum
2    print
3      len
dtype: object

In [20]:
ser1[1]

'sum'

In [21]:
ser2 = pd.Series(["sum", "print", "len"], [1,2,4])
ser1 + ser2

1        sumsum
2    printprint
3           NaN
4           NaN
dtype: object

In [5]:
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,3),  ['a', 'b', 'c', 'd', 'e'], ['p', 'q', 'r',])

In [24]:
df

          p         q         r
a  2.706850  0.628133  0.907969
b  0.503826  0.651118 -0.319318
c -0.848077  0.605965 -2.018168
d  0.740122  0.528813 -0.589001
e  0.188695 -0.758872 -0.933237

In [25]:
df['p']

a    2.706850
b    0.503826
c   -0.848077
d    0.740122
e    0.188695
Name: p, dtype: float64

In [28]:
type(df['p'])

pandas.core.series.Series

In [30]:
df[['p', 'r']]

          p         r
a  2.706850  0.907969
b  0.503826 -0.319318
c -0.848077 -2.018168
d  0.740122 -0.589001
e  0.188695 -0.933237

In [31]:
df['new'] = df['q'] + df['r']

In [32]:
df

          p         q         r       new
a  2.706850  0.628133  0.907969  1.536102
b  0.503826  0.651118 -0.319318  0.331800
c -0.848077  0.605965 -2.018168 -1.412203
d  0.740122  0.528813 -0.589001 -0.060187
e  0.188695 -0.758872 -0.933237 -1.692109

In [35]:
df.drop('new', axis=1, inplace=True)

In [36]:
df

          p         q         r
a  2.706850  0.628133  0.907969
b  0.503826  0.651118 -0.319318
c -0.848077  0.605965 -2.018168
d  0.740122  0.528813 -0.589001
e  0.188695 -0.758872 -0.933237

In [48]:
df.loc['b', 'q']

0.6511179479432686

In [47]:
df.iloc[3]

p    0.740122
q    0.528813
r   -0.589001
Name: d, dtype: float64

In [1]:
randn(5,3)

NameError: name 'randn' is not defined

In [3]:
from numpy.random import randn

In [4]:
randn(5,3)

array([[ 1.02579609,  2.11161305,  0.96175116],
       [-0.44090656,  1.21782338, -0.27058779],
       [ 0.66313799,  0.89284323,  0.18659935],
       [-0.75853382,  0.18977532, -0.13591623],
       [-0.76667694, -0.45390691,  1.62052295]])

In [6]:
df > 0

       p      q      r
a   True   True   True
b   True   True  False
c  False   True  False
d   True   True  False
e   True  False  False

In [24]:
df

          p         q         r
a  2.706850  0.628133  0.907969
b  0.503826  0.651118  0.000000
c  0.000000  0.605965  0.000000
d  0.740122  0.528813  0.000000
e  0.188695  0.000000  0.000000

In [9]:
df['p'] > 0

a     True
b     True
c    False
d     True
e     True
Name: p, dtype: bool

In [25]:
df = pd.DataFrame(randn(5,3),  ['a', 'b', 'c', 'd', 'e'], ['p', 'q', 'r',])

In [26]:
df

          p         q         r
a  0.955057  0.190794  1.978757
b  2.605967  0.683509  0.302665
c  1.693723 -1.706086 -1.159119
d -0.134841  0.390528  0.166905
e  0.184502  0.807706  0.072960

In [29]:
df[df['r'] > 0]['p']

a    0.955057
b    2.605967
d   -0.134841
e    0.184502
Name: p, dtype: float64

In [30]:
boolser = df['r'] > 0

In [31]:
boolser

a     True
b     True
c    False
d     True
e     True
Name: r, dtype: bool

In [32]:
df

          p         q         r
a  0.955057  0.190794  1.978757
b  2.605967  0.683509  0.302665
c  1.693723 -1.706086 -1.159119
d -0.134841  0.390528  0.166905
e  0.184502  0.807706  0.072960

In [34]:
df

          p         q         r
a  0.955057  0.190794  1.978757
b  2.605967  0.683509  0.302665
c  1.693723 -1.706086 -1.159119
d -0.134841  0.390528  0.166905
e  0.184502  0.807706  0.072960